<nav class="navbar navbar-dark bg-inverse navbar-fixed-top">
  <%= link_to "Diary", entries_path, class: "navbar-brand" %>
  <ul class="nav navbar-nav">
    <li class="nav-item active">
      <%= link_to "New entry", new_entry_path %>
    </li>

  </ul>
</nav>
